
.product-summary {
    width: 100%;
    
    
    .info-summary {
      
      display: flex;
      justify-content:space-between;
      // padding-right: 60px;
      flex-wrap: wrap;



   
      


      
      
    }
    .--mt{
      text-align: left;
    }
  }
  

  
  .card1,.card2,.card3,.card4 {
    background-color:  #fff;
    border-radius: 10px;
    
   
    
  }

  